@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jua|Kosugi+Maru&display=swap');

    table {
    width: 100%;
    border-top: 1px solid white;
    border-collapse: collapse;
    align-content: center;
    align-text:center;
	margin-left: 250px; 
    }
   
    th, td {
    border-bottom: 4px solid #ffe6e6;
    padding: 10px;  
    align-content: center;
    align-text:center;
    }
    

    
    tr#number1 {
    background-color: #ffe6e6;
    }
    
	div#cloud {
    align-content: center;
 
    }
    
    div#happy{
    align-content: left;
    }
    
	img#mySlides {
    display:none;
    size: cover;
    }
      
	button#jjoin {
		border-radius: 6px;
        background-color: pink;
        color: black;
        border: 2px solid pink;
        align-content:center;
        width: 95px;
    }
    
    button#jjjoin {
		bordef-radius: 6px;
        background-color: pink;
        color: black;
        border: 2px solid pink;
        align-content:center;
        width: 100px;
    }
        
    button#other {
    	border-radius: 6px;
        background-color: pink;
        color: black;
        border: 2px solid gray;
    }
    
    button#blue {
    	border-radius: 6px;
        background-color: #e6e6e6;
        color: black;
        border: 2px solid white;
        align-content:"center"
    }
    
    button#delete {
    	border-radius: 6px;
        background-color: pink;
        color: black;
        border: 2px solid white;
        align-content:"center"
    }
    
     button#space {
        background-color: pink;
        color: black;
        border: 2px solid pink;
        align-content:center;
        width: 150px;
        height: 25px;
    }
    
    input {
    	border-radius: 6px;
        background-color: white;
        color: black;
        border: 2px solid #ffe6e6;
    }
    
    select {
     width:200px;
     height:25px;
  
     }
     
    div#first {
    margin: 20px;
    text-align: center;
 	}

    div#second {    
	margin: 20px;
    text-align: center;
 	}
 	
 	P {
 	font-size: 40px;
 	font-family: 'Kosugi Maru','Jua', sans-serif;
 	color:gray;
	padding: 20px;
	width: 640px;
	font-weight: bold;
	text-align: center;
    background-color: #ffe6e6;
	border-radius:8px; 

 	}
 	